* {
    margin: 0;
    padding: 0;
}

*::selection{
    background-color: rgb(68, 19, 97);
}

img {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

:root {
    --gradienteRoxo: linear-gradient(to right bottom, rgba(133, 67, 255, 0.596), rgba(96, 38, 255, 0.925), rgb(99, 32, 255));
    --gradientePretoT: linear-gradient(to right bottom, rgba(0, 0, 0, 0.849),rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0));
}

body{
    background-image: url("../images/iu/ground.svg");
}

header{
    width: 100vw;
    max-height: 15vh;
    
    background-image: var(--gradienteRoxo);    

    box-sizing: border-box;
    padding: 0.5rem;
    border-bottom: rgba(0, 0, 0, 0.486) 1px solid;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-parte {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    flex: 1;
}

.header-parte > img{
    max-width: 60px; max-height: 60px;
    cursor: pointer;
}

.header-parte > h1{
    font-family: "Jolly Lodger", system-ui;
    color: white;
    
    font-size: 38pt;
}

.header-parte > button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20pt;
    transition: all 50ms ease-in-out;
}

.header-parte > button:hover{
    color: rgba(0, 0, 0, 0.466);
    border-bottom: 2px rgba(0, 0, 0, 0.466) solid;
}

.options{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.options button{
    background-color: rgb(227, 115, 255);
    border: rgb(68, 19, 97) 2px solid;
    border-radius: 0.5rem;

    box-sizing: border-box;
    padding: 0.2rem 1rem;

    font-family: "Google Sans Code", monospace;
    color: rgb(68, 19, 97);
    text-align: center;
    font-weight: bolder;

    cursor: pointer;
    font-size: 16pt;
}

.options button:hover{
    background-color: rgb(255, 255, 255);
}

.version{
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: "Google Sans Code", monospace;
}

a{
    color: white;
    font-family: "Google Sans Code", monospace;
    font-weight: bolder;
}

.blur-box{
    width: 100vw; height: 100vh;
    background-color: rgba(205, 79, 255, 0.151);
    backdrop-filter: blur(5px);
    display: none;
    opacity: 0;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    transition: ease-in-out all 200ms;
}