.clicker-area{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clicker-area h2{
    font-size: 20pt;
    font-family: "Barrio", system-ui;
}

.imagem-inimigo{
    width: 20vw;
    height: 35vh;
    transition: all ease-in-out 200ms;
    cursor: pointer;
}

.imagem-inimigo:hover{
    filter: brightness(100) saturate(0);
}

.barra-vida {
    width: 300px;
    height: 20px;
    border-radius: 5rem;
    border: 2px solid var(--verde1);
    border-radius: 50px;
    background: linear-gradient(to right, var(--verde2) 0%, var(--verde1) 100%);
    
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    transition: all 250ms ease-in-out;
}
